<!-- Lista de aparelhos cadastrados -->
<div class="listagem-aparelhos overflow-y-scroll text-center" id="devicesList">
    <div class="w-100 d-flex align-items-start p-2">
        <button id="cardListClose" class="border-0 bg-transparent">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
    <h4>Lista de Aparelhos</h4>
    <ul class="list-unstyled d-flex gap-2 flex-column">
        {% for consumo in consumos %}
            <li class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ consumo.aparelho }}</h5>
                        <p class="card-text">Potência: {{ consumo.potency }}</p>
                        <p class="card-text">Tempo de uso: {{ consumo.time_interval }}</p>
                        <p class="card-text">Consumo mensal: {{ consumo.consumo_mensal }}</p>
                    </div>
                    <div class="buttons p-2">
                        <button id="deviceDeleteBtn" data-device-id="{{ consumo.id }}" onclick="deleteDevice()">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button id="deviceEdit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                </div>
            </li>
        {% else %}
            <li>Nenhum aparelho cadastrado.</li>
        {% endfor %}
    </ul>
</div>