<div class="sidebar d-flex flex-column justify-content-between align-items-center">
    <div class="top">
        <div class="user d-flex gap-2 justify-content-center">
            {% if current_user.is_authenticated %}
                <div class="w-100 d-flex gap-3 align-items-center">
                    <div class="user-img">
                        <img src="../../static/imgs/user-profile-image.png" alt="">
                    </div>
                    <h4 class="item-description mt-1 username fw-bolder">{{ current_user.username }}</h4>
                </div>
            {% endif %}
        </div>
        <ul id="side_items" class="list-unstyled">
            <li class="side_item">
                <a href="{{ url_for('post.index') }}">
                    <i class="bi bi-house"></i>
                    <span class="item-description">Home</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('post.metas') }}">
                    <i class="bi bi-bookmark"></i>
                    <span class="item-description">Metas</span>
                </a>
            </li>
            <li class="side_item">
                <a href="#">
                    <i class="bi bi-coin"></i>
                    <span class="item-description">Consumo</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('post.ideal_de_consumo') }}">
                    <i class="bi bi-database-fill"></i>
                    <span class="item-description">ideal de Consumo</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('post.dicas') }}">
                    <i class="bi bi-lightbulb"></i>
                    <span class="item-description">Dicas</span>
                </a>
            </li>
        </ul>
    </div>

    {% if current_user.is_authenticated %}
        <button class="btn mb-2 bg-transparent border-0 w-100" type="button">
            <a href="#" class="exit" data-bs-toggle="modal" data-bs-target="#logoutModel">
                <i class="bi bi-box-arrow-right"></i>
                <span class="item-description">Sair</span>
            </a>
        </button>
    {% endif %}
</div>
