{% extends 'base-with-header.html' %} {% block title %} Cadastrar novos usuários {%
endblock %} {% block css %}cadastro{% endblock %} 
{% block conteudo %}

<main>
  <section class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="text-center user-photo">
          <img
            src="../../static/imgs/user-profile-image.png"
            alt=""
            class="user-profile-image"
          />
          <h3>User</h3>
        </div>
      </div>
      <div class="col-6 form-cool">
        <h2 class="text-center">Dados do usuário</h2>
        <form class="user-form ps-5" action="{{url_for('cadastrar')}}" method="post">
          <div class="mb-2">
            <label for="nomeCompleto" class="form-label"
              >Nome:</label
            >
            <input
              type="text"
              class="form-control"
              id="nomeCompleto"
              name="nome"
              required
            />
          </div>
          <div class="mb-2">
            <label for="email" class="form-label"
              >Email:</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-2">
            <label for="senha" class="form-label">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              name="senha"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
      </div>
    </div>
  </section>
</main>

{% endblock %}
