html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-profile-image {
    width: 80%;
    height: fit-content;
    border-radius: 50%;
}

.form-cool {
    border-left: 3px solid #464b51;
}

.user-photo h3 {
    margin-top: -60px;
}

.btn-primary{
    background-color: #FFC107 !important;
    color: #343A40 !important;
    border-radius: 25px !important;
    border: none !important;
}