* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.tip-block {
    background-color: #3b94AF;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 250px;
}

.tip-block p {
    margin: 0;
    font-size: 1.1em;
}

ul {
    list-style: none;
}
