{% extends 'base-with-header.html' %} {% block titulo %} Metas {%endblock %} 
{% block css %}metas{% endblock %}
{% block content %}

    <main>
        <section class="container">
          <div class="row align-items-center">
            <div class="col-6">  
                <h2>Faixa de gastos ideal entre 140 a 280 reais</h2>  
                <p>Este valor representa sua faixa de consumo necessária de acordo com o contexto da sua residência. Você pode definir sua meta a partir desses valores!</p>
                </div>
                <div class="col-5 form-cool">
                    <h2>Quero definir minha meta</h2>
                    <button type="submit" class="btn btn-primary w-100">Definir minha meta</button>
                   </div>
                </div>
        </section>
    </main>

{% endblock %}