{% extends 'base.html' %} {% block title %} Metas {% endblock %}
{% block css %}metas{% endblock %}
{% block content %}

    <main>
        <section class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    {{ consumo_mensal }}
                    {% if consumo_mensal is not none %}
                        <h2>Faixa de gastos ideal entre {{ faixa_min }} a {{ faixa_max }} reais</h2>
                        <p>Este valor representa sua faixa de consumo necessária de acordo com o contexto da sua residência.
                            Você pode definir sua meta a partir desses valores!</p>
                    {% else %}
                        <h2>Ops! parece que você não definiu um ideal de consumo ainda</h2>
                        <p>Parece que vocẽ ainda não simulou seu gasto ideal! que tal dar uma conferida no nosso simulador,
                            é fácil e rápido!</p>
                    {% endif %}
                </div>
                <div class="col-5 form-cool">
                    {% if consumo_mensal is not none %}
                        <h2>Quero definir minha meta</h2>
                        <button type="submit" class="btn btn-primary w-100">Definir minha meta</button>
                    {% else %}
                        <h2>Nosso simulador</h2>
                        <a href="{{ url_for('post.simulador') }}">
                            <button class="btn btn-primary w-100">Definir minha meta</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}