{% extends 'base.html' %}
{% block title %}profile{% endblock %}
{% block css %}profile{% endblock %}
{% block content %}
    <div class="container vh-75 p-4 d-flex gap-3">
        <div class="col-2 background h-100">
            <ul class="list-unstyled p-4">
                <li class="d-flex gap-3 align-items-center user-img">
                    <img src="../../static/imgs/user-profile-image.png" alt="">
                    <h4 class="item-description mt-1 username fw-bolder">{{ current_user.username }}</h4>
                </li>
                <li class="user-info-tab table-active w-100">
                    <button class="w-100 btn btn-outline-secondary">informações</button>
                </li>
                <li class="site-config-tab table-active w-100">
                    <button class="w-100 btn btn-outline-secondary">configurações</button>
                </li>
            </ul>
        </div>
        <div class="col-10 background h-100 p-4">
            <form action="{{ url_for('user.update_profile') }}" class="d-flex flex-column gap-3" method="post">
                <div><label for="username">nome</label>
                    <input type="text" name="username" value="{{ current_user.username }}" disabled>
                </div>
                <div><label for="email">email</label>
                    <input type="email" name="email" value="{{ current_user.email }}" disabled>
                </div>
            </form>

            <!-- Destacar o consumo mensal -->
            <div class="d-flex flex-column mt-5"><span type="email" name="gasto" class="fs-3 fw-bold text-warning text-center">Seu gasto mensal</span>
                <span type="email" name="gasto"
                      class="fs-3 fw-bold text-warning text-center">R${{ consumo_mensal }}</span></div>

            <div class="d-flex gap-3 justify-content-center mt-5">
                <button id="editButton" class="btn btn-info d-flex align-items-center" onclick="enableEditting()">
                    <i class="bi bi-pencil"></i> Editar
                </button>
                <button id="deleteButton" class="btn btn-danger d-flex align-items-center" data-user-id="{{ current_user.id }}" onclick="deleteUser()">
                    <i class="bi bi-trash3"></i> Excluir
                </button>
                <button class="d-none btn btn-success d-flex align-items-center" id="saveButton" onclick="save()">
                    <i class="bi bi-check2"></i> Salvar
                </button>
            </div>
        </div>
    </div>

    <script src="../../static/js/profile.js"></script>
{% endblock %}
