{% extends 'base.html' %}

{% block title %} Listagem de Aparelhos {% endblock %}
{% block css %}simulador{% endblock %}

{% block content %}
    <div class="container">

        <!-- Formulário para adicionar novos aparelhos -->
        <form action="{{ url_for('consumo.device_register') }}" method="post" id="deviceAddForms">
            <div>
                <label for="aparelho">Nome do Aparelho:</label>
                <input type="text" name="aparelho" id="aparelho" placeholder="Nome do eletrodoméstico" required><br>
            </div>
            <div>
                <label for="potency">Potência (W):</label>
                <input type="number" name="potency" id="potency" placeholder="Potência (em Watts)" required><br>
            </div>
            <div>
                <label for="time_interval">Tempo de uso diário (h):</label>
                <input type="number" name="time_interval" id="time_interval"
                       placeholder="Tempo de uso diário (em horas)" required><br>
            </div>
            <div>
                <button type="submit">Adicionar Aparelho</button>
            </div>
        </form>

        {% include "components/aparelhos.html" %}
        <div class="toggle-devices" id="devicesToggle"></div>
    </div>

    <script src="../../static/js/simulador.js"></script>
{% endblock %}
