.form-cool {
    border-left: 3px solid #464b51;
}

.btn-primary{
    background-color: #FFC107 !important;
    color: #343A40 !important;
    border-radius: 25px !important;
    border: none !important;
}