* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Serif, serif;
}

main {
    height: calc(100% - 90px);
    margin-left: 80px;
    background-color: #464B51;
    display: flex;
    justify-content: center;
    transition: margin-left .5s ease-in-out;
}

body, html {
    height: 100%;
    background-color: #464B51 !important;
}

.modal .btn {
    background-color: #ffc107 !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
}

.modal-footer button {
    width: 120px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.modal-footer .exit-btn:hover {
    background-color: red !important;
}

.modal-footer .btn:hover > a {
    color: #fff !important;
}

.exit-btn a {
    text-decoration: none;
    color: black;
}

.toast-img {
    width: 30px;
    height: 30px;
}

.toast-danger {

}