* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.modal .btn {
    background-color: #ffc107 !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
}

.modal-footer button {
    width: 120px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.modal-footer .exit-btn:hover {
    background-color: red !important;
}

.modal-footer .btn:hover > a {
    color: #fff !important;
}

.exit-btn a {
    text-decoration: none;
    color: black;
}
