{% extends 'base.html' %}
{% block main_conteudo %}
    <header>
        <nav class="navbar navbar-expand-lg w-100">
            <div class="container-fluid justify-content-center">
                <a class="d-flex align-items-center logo" href="{{ url_for('index') }}">
                    <img src="static/imgs/Projeto_Pharus-removebg-preview 1.png" alt=""/>
                    <span class="title"><h3><span class="colorida">P</span>HARUS</h3></span>
                </a>
            </div>
            <a href="{{ url_for('login') }}" class="exit-login">
                <button class="btn">Login</button>
            </a>
        </nav>
    </header>

    <div class="sidebar d-flex flex-column justify-content-between">
        <div class="top">
             <div class="user d-flex gap-2 align-items-center">
            <div class="user-img">
                <img src="/static/imgs/user-profile-image.png" alt="">
            </div>
        </div>
        <ul id="side_items" class="list-unstyled">
            <li class="side_item">
                <a href="{{ url_for('index') }}">
                    <i class="bi bi-house"></i>
                    <span class="item-description">Home</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('metas') }}">
                    <i class="bi bi-bookmark"></i>
                    <span class="item-description">Metas</span>
                </a>
            </li>
            <li class="side_item">
                <a href="#">
                    <i class="bi bi-coin"></i>
                    <span class="item-description">Consumo</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('ideal_de_consumo') }}">
                    <i class="bi bi-database-fill"></i>
                    <span class="item-description">ideal de Consumo</span>
                </a>
            </li>
            <li class="side_item">
                <a href="{{ url_for('dicas') }}">
                    <i class="bi bi-lightbulb"></i>
                    <span class="item-description">Dicas</span>
                </a>
            </li>
        </ul>
        </div>

        <button class="btn mb-2 bg-transparent border-0" type="button">
            <a href="#" class="exit" data-bs-toggle="modal" data-bs-target="#logoutModel">
                <i class="bi bi-box-arrow-right"></i>
                <span class="item-description">Sair</span>
            </a>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="logoutModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Deseja Sair?</h1>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn" data-bs-dismiss="modal">Fechar</button>
                    <button class="btn exit-btn"><a href="{{ url_for('logout') }}">Sair</a></button>
                </div>
            </div>
        </div>
    </div>

    {% block conteudo %}{% endblock %}



    <script>
        document.getElementById('confirmLogout').addEventListener('click', function () {
            window.location.href = "{{url_for('login')}}";
        });
    </script>

    <script>
        document.getElementById('open_btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList('open-sidebar')
        });
    </script>
{% endblock %}