{% extends 'base.html' %} 
{% block titulo %} Componentes {% endblock %} 
{% block css %}componentes{% endblock %} 
{% block conteudo %}

<h2>Componentes:</h2>
<div class="container">
  <ul class="row row-cols-2 g-5">
    {% for a in adms %}
    <div class="col">
      <li class="card">
        <img
          src="{{ url_for('static', filename='imgs/' + a.imagem) }}"
          class="card-img-top"
          alt="{{ a.nome }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ a.nome }}</h5>
        </div>
      </li>
    </div>
    {% endfor %}
  </ul>
</div>

{% endblock %}
