{% extends 'base-with-header.html' %} {% block titulo %} Ideal de consumo {%
    endblock %} {% block css %}ideal_de_consumo{% endblock %} {% block conteudo %}

    <main>
        <section class="container">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="text-left">
                <h2>Ideal de consumo: <br> de 140 a 280 reais</h2>
                
                <h5>Aqui você tem acesso a um questionário simples onde suas respostas são registradas e analisadas com os dados de outros usuáios, gerando assim uma fsixa de consumo para podermos te dar um maior suporte a partir de possíveis soluções para seus problemas. Aprimore seus resultados na página Simulador.</h5>
                <button type="submit" class="btn btn-primary w-100">Conheça o simulador</button>
              </div>
            </div>
            <div class="col-6">
              <div class="card text-center">
                <div class="card-hearder">
                    Quanto tempo você usa seu computador por dia?
                </div>
                <div class="card-body">
                    <h5 class="card-title">Conteúdo do card</h5>
                    <p class="card-text">adicionar algo</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary">Botão 1</a>
                        <a href="#" class="btn btn-secondary">Botão 2</a>
                        <a href="#" class="btn btn-success">Botão 3</a>
                        <a href="#" class="btn btn-danger">Botão 4</a>
                    </div>
                </div>
                <div class="card-footer text muted">
                    Rodapé do Card
                </div>
              </div>                               
        </section>
      </main>                                   
    {% endblock %}