{% extends 'base-with-header.html' %} {% block titulo%} Pharus - Página inicial {%endblock%}
{% block css %}style{% endblock %} {% block conteudo %}
<main>
  <section class="principal container-fluid mt-2 px-5 mb-3">
    <div class="row g-3">
      <div class="col-md-4">
        <a class="quadrado" href="{{url_for('cadastrar')}}">
          <img src="static/imgs/adicionar-usuario 1.png" alt="" />
          <h2>Cadastrar novos usuários</h2>
        </a>
      </div>
      <div class="col-md-4">
        <a class="quadrado" href="#">
          <img src="../static/imgs/conversa-em-grupo 1.png" alt="" />
          <h2>Listar todos os administradores</h2>
        </a>
      </div>
      <div class="col-md-4">
        <a class="quadrado" href="#">
          <img src="static/imgs/bandeira-em-formato-preto (1) 1.png" alt="" />
          <h2>Editar bandeira</h2>
        </a>
      </div>
      <div class="col-md-8">
        <div class="quadrado-big"></div>
      </div>
      <div class="col-md-4">
        <a class="quadrado" href="#">
          <img src="static/imgs/mensagens (1) 1.png" alt="" />
          <h2>Mensagens</h2>
        </a>
      </div>
      <div class="col-md-8">
        <div class="quadrado-big h-100"></div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-column">
          <a class="bigger" href="#">
            <img src="static/imgs/lampada 1.png" alt="" />
            <h2>Listagem de dicas</h2>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
