{% extends 'base.html' %} {% block titulo %} Login {% endblock %} 
{% block css %}login{% endblock %} 
{% block main_conteudo %}

<section class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-5 form-cool">
      <h2 class="text-center">Log in</h2>
      <form class="user-form ps-5">
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">Nome completo:</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-2">
          <label for="exampleInputPassword1" class="form-label">Usuário:</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <span><a href="{{url_for('cadastrar')}}">Não tem conta? Cadastre aqui</a></span>
        <button type="submit" class="btn btn-primary w-100 mt-4">Entrar</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
