{% extends 'base.html' %}

{% block titulo %} Login {% endblock %}

{% block conteudo %}


<div class="login-container">
  <h2>Login</h2>
  <form action="{{url_for('Pagina_inicial')}}" method="post">
    <div class="login-centro">
      <label for="login" class="from-label">Login: </label>
      <input type="text" class="from-control" id="login" name="usuario" placeholder="Digite seu úsuario">
    </div>
    <div class="login-centro">
      <label for="senha" class="from-label">Senha: </label>
      <input type="password" class="from-control" id="senha" name="senha" placeholder="Digite sua senha">
    </div>
    <button class="btn btn-primary" type="submit">Entrar</button>

  </form>
</div>
      



{% endblock %}